
<section class="footer-style-2 footer-dark-style-2 mt-50 pt-50">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top-left mt-50">
                
            </div>
            <div class="footer-top-right mt-50">
                <span class="title">HỖ TRỢ THANH TOÁN:</span>
                <img src="~/assets/images/payment.png" alt="" />
            </div>
        </div>

        <div class="footer-widget-wrapper pt-20">
            <div class="row justify-content-between">
                <div class="col-xl-7 col-lg-8">
                    <div class="footer-link-widget">
                        <div class="footer-link">
                            <h5 class="footer-title">GIỚI THIỆU</h5>

                            <ul class="link">
                                <li><a href="#0">Về giày VN</a></li>
                                <li><a href="#0">Tin tức</a></li>
                                <li><a href="#0">Cửa hàng</a></li>
                                <li><a href="#0">Khuyến mãi</a></li>
                            </ul>
                        </div>
                        <div class="footer-link">
                            <h5 class="footer-title">CHÍNH SÁCH</h5>

                            <ul class="link">
                                <li><a href="#0">Chính sách bảo mật</a></li>
                                <li><a href="#0">Chính sách vận chuyển</a></li>
                                <li><a href="#0">Chính sách đổi trả, bảo hành</a></li>
                                <li><a href="#0">Quy định sử dụng</a></li>
                            </ul>
                        </div>
                        <div class="footer-link ml">
                            <h5 class="footer-title">HỖ TRỢ</h5>

                            <ul class="link">
                                <li><a href="#0">Kiểm tra đơn hàng</a></li>
                                <li><a href="#0">Tuyển dụng</a></li>
                                <li><a href="#0">Giỏ hàng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-widget-subscribe">
                        <h5 class="footer-title">CÔNG TY THH-MTV ĐĂNG KHOA</h5>
                        <p>Địa chỉ: 124 Hòa An-Phụng Hiệp-Hậu Giang</p>
                        <p>Số điện thoại: 0788861234</p>
                        <p>Email: khoavo01@gmail.com</p>

                        <div class="subscribe-form">
                            <form action="#">
                                <div class="form-white">
                                    <label>ĐĂNG KÝ ĐỂ NHẬN TIN KHUYẾN MÃI</label>
                                    <div class="form-input">
                                        <input type="text" placeholder="user@email.com" />
                                        <i class="mdi mdi-account"></i>
                                        <button class="main-btn secondary-1-btn">
                                            <span class="mdi mdi-send"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-copyright">
                <p>
                    &copy; 2022 Bản quyền thuộc về giày VN
                </p>
            </div>
            <div class="footer-follow">
                <span class="title">Follow Us:</span>
                <ul class="social-follow">
                    <li>
                        <a href="#0"><i class="lni lni-facebook-filled"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="lni lni-twitter-filled"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="lni lni-linkedin-original"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="lni lni-instagram-original"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="lni lni-whatsapp"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>