
@model IEnumerable<QL_BanGiay.Data.DongSanPham>
@{
    ViewData["Title"] = "Quản lí dòng sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>
<div class="modal fade" aria-hidden="true" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
    }
}