/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

    .img-showcase img {
        min-width: 100%;
    }

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

    .img-item:nth-child(1),
    .img-item:nth-child(2),
    .img-item:nth-child(3) {
        margin-right: 0;
    }

    .img-item:hover {
        opacity: 0.8;
    }

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #12263a;
    margin: 1rem 0;
}

    .product-title::after {
        content: "";
        left: 0;
        bottom: 0;
        height: 4px;
        width: 80px;
        background: #12263a;
    }

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

    .product-link:hover {
        opacity: 0.9;
    }

.product-rating {
    color: #ffc107;
}

    .product-rating span {
        font-weight: 600;
        color: #252525;
    }

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

    .product-price span {
        font-weight: 400;
    }

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

    .product-detail ul li {
        margin: 0;
        list-style: none;
        background: url(shoes_images/checked.png) left center no-repeat;
        background-size: 18px;
        padding-left: 1.7rem;
        margin: 0.4rem 0;
        font-weight: 600;
        opacity: 0.9;
    }

        .product-detail ul li span {
            font-weight: 400;
        }

.purchase-info {
    margin: 1.5rem 0;
}

    .purchase-info input,
    .purchase-info .btn {
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
    }

    .purchase-info input {
        width: 100px;
    }

    .purchase-info .btn {
        cursor: pointer;
        color: #fff;
    }

        .purchase-info .btn:first-of-type {
            background: #256eff;
        }

        .purchase-info .btn:last-of-type {
            background: #f64749;
        }

        .purchase-info .btn:hover {
            opacity: 0.9;
        }

.social-links {
    display: flex;
    align-items: center;
}

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #000;
        border: 1px solid #000;
        margin: 0 0.2rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }

        .social-links a:hover {
            background: #000;
            border-color: transparent;
            color: #fff;
        }

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}

.CodesTable table {
    width: 100%
}

.CodesTable thead {
    width: calc(100%-1em);
}

.CodesTable tbody {
    display: block;
    height: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
}

    .CodesTable thead, .CodesTable tbody tr {
        display: table;
        width: 98%;
        table-layout: fixed;
    }

.CodesTable thead, .CodesTable tbody, .CodesTable td {
    border: none !important;
}

.QtyTotal {
    background-image: none;
}

.FobTotal {
    background-image: none;
}

.PriceTotal {
    background-image: none;
}

.AmountTotal {
    background-image: none;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.IndexDiv {
    position: fixed;
    background: linear-gradient(to right,#C4E0E0,#C4E0F9);
    top: 8%;
    left: 0;
    min-height: 85%;
    min-width: 100%;
}


.CenteredContainer {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

    .CenteredContainer form {
        background: linear-gradient(to left,#28347d,#19767D);
        padding: 3em;
        border-radius: 20px;
    }

        .CenteredContainer form a {
            text-decoration: none;
            color: white;
            font-size: 15px;
        }

            .CenteredContainer form a:hover {
                text-shadow: 2px 2px 6px #000040;
            }

        .CenteredContainer form input {
            border-radius: 20px;
        }

        .CenteredContainer form .btn {
            width: 150px;
            font-size: 1em;
        }

        .CenteredContainer form:hover {
            margin: 8px;
        }

    .CenteredContainer a, input:focus, submit:focus, button:focus {
        outline: none;
        margin: 2px;
    }
.products.one .item {
    flex-direction: column;
}
.products.one .price .discount{
    font-size: 1em;
    font-weight: var(--fw7);
    line-height: 1;
    top: 0;
    position: absolute;
    bottom: 0;
    padding: 1em;
    z-index: 2;
    background-color: var(--drak-color);
    color: var(--white-color);
    border-radius: var(--percent50);
    margin: 0.5em;
}
.products.one :where(.big-image, .small-image){
    overflow: hidden;
}
.products.one .big-image{
    position: relative;
    margin-bottom: 1em;
}
.products.one :where(.big-image, .small-image) img{
    object-fit: cover;
    width: var(--percent100);
    height: var(--percent100);
    display: block;
}
.products.one .thumbnail-show{
    position: relative;
    width: 130px;
    height: 110px;
    overflow: hidden;
    margin: 0 2em 2em 0;

}