@model QL_BanGiay.Areas.Admin.Models.ShoeContext
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Mã giày</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">#</div>
                            </div>
                            <input asp-for="MaGiay" class="form-control" />
                        </div>
                        <span asp-validation-for="MaGiay" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tên giày</label>
                        <div class="input-group">
                            <input asp-for="TenGiay" class="form-control" />
                        </div>
                        <span asp-validation-for="TenGiay" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-form form-default form-border">
                        <label>Nhãn hiệu</label>
                        <div class="form-input">
                            <select asp-for="MaNhanHieu" class="form-select" asp-items="ViewBag.BrandList"></select>
                            <span asp-validation-for="MaNhanHieu" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-form form-default form-border">
                        <label>Dòng sản phẩm</label>
                        <div class="form-input">
                            <select asp-for="MaDongSanPham" asp-items="ViewBag.CollectionList" class="form-select">
                            </select>
                            <span asp-validation-for="MaDongSanPham" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-form form-default form-border">
                        <label>Nơi sản xuất</label>
                        <div class="form-input">
                            <select asp-for="MaNhaSanXuat" class="form-select" asp-items="ViewBag.ProduceList"></select>
                            <span asp-validation-for="MaNhaSanXuat" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Màu sắc</label>
                        <div class="input-group">
                            <input asp-for="MauSac" class="form-control" />
                        </div>
                        <span asp-validation-for="MauSac" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Chất liệu</label>
                        <div class="input-group">
                            <input asp-for="ChatLieu" class="form-control" />
                        </div>
                        <span asp-validation-for="ChatLieu" class="text-danger"></span>
                    </div>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Chọn ảnh đại diện</label>
                        <div class="custom-file">
                            <input asp-for="MaAnhNen" onchange="preview_image();" class="form-control" id="imageBrowes" />

                            <div id="imgPreview" style="display: flex;">
                            </div>
                        </div>
                        <span asp-validation-for="MaAnhNen" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Chọn ảnh cho chi tiết</label>
                        <div class="custom-file">
                            <input asp-for="AnhDetail" onchange="preview_images();" class="form-control" id="imagesBrowes" />
                        </div>
                        <div id="image_preview" style="display: flex;"></div>
                        <span asp-validation-for="AnhDetail" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3 mt-4">
                    <input type="submit" value="Lưu" class="btn btn-primary btn-block px-5" />
                </div>
            </div>
        </form>
    </div>
</div>

<div id="container">
    <div id="editor">
    </div>
</div>
<!--
    Uncomment to load the Spanish translation
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/super-build/translations/es.js"></script>
-->
<script>
    CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
        // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
        toolbar: {
            items: [
                'exportPDF', 'exportWord', '|',
                'findAndReplace', 'selectAll', '|',
                'heading', '|',
                'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                'bulletedList', 'numberedList', 'todoList', '|',
                'outdent', 'indent', '|',
                'undo', 'redo',
                '-',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                'alignment', '|',
                'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                'textPartLanguage', '|',
                'sourceEditing'
            ],
            shouldNotGroupWhenFull: true
        },
        // Changing the language of the interface requires loading the language file using the <script> tag.
        // language: 'es',
        list: {
            properties: {
                styles: true,
                startIndex: true,
                reversed: true
            }
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
        placeholder: 'Welcome to CKEditor 5!',
        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
        fontFamily: {
            options: [
                'default',
                'Arial, Helvetica, sans-serif',
                'Courier New, Courier, monospace',
                'Georgia, serif',
                'Lucida Sans Unicode, Lucida Grande, sans-serif',
                'Tahoma, Geneva, sans-serif',
                'Times New Roman, Times, serif',
                'Trebuchet MS, Helvetica, sans-serif',
                'Verdana, Geneva, sans-serif'
            ],
            supportAllValues: true
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
        fontSize: {
            options: [10, 12, 14, 'default', 18, 20, 22],
            supportAllValues: true
        },
        // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
        // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
        htmlSupport: {
            allow: [
                {
                    name: /.*/,
                    attributes: true,
                    classes: true,
                    styles: true
                }
            ]
        },
        // Be careful with enabling previews
        // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
        htmlEmbed: {
            showPreviews: true
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
        link: {
            decorators: {
                addTargetToExternalLinks: true,
                defaultProtocol: 'https://',
                toggleDownloadable: {
                    mode: 'manual',
                    label: 'Downloadable',
                    attributes: {
                        download: 'file'
                    }
                }
            }
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
        mention: {
            feeds: [
                {
                    marker: '@@',
                    feed: [
                        '@@apple', '@@bears', '@@brownie', '@@cake', '@@cake', '@@candy', '@@canes', '@@chocolate', '@@cookie', '@@cotton', '@@cream',
                        '@@cupcake', '@@danish', '@@donut', '@@dragée', '@@fruitcake', '@@gingerbread', '@@gummi', '@@ice', '@@jelly-o',
                        '@@liquorice', '@@macaroon', '@@marzipan', '@@oat', '@@pie', '@@plum', '@@pudding', '@@sesame', '@@snaps', '@@soufflé',
                        '@@sugar', '@@sweet', '@@topping', '@@wafer'
                    ],
                    minimumCharacters: 1
                }
            ]
        },
        // The "super-build" contains more premium features that require additional configuration, disable them below.
        // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
        removePlugins: [
            // These two are commercial, but you can try them out without registering to a trial.
            // 'ExportPdf',
            // 'ExportWord',
            'CKBox',
            'CKFinder',
            'EasyImage',
            // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
            // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
            // Storing images as Base64 is usually a very bad idea.
            // Replace it on production website with other solutions:
            // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
            // 'Base64UploadAdapter',
            'RealTimeCollaborativeComments',
            'RealTimeCollaborativeTrackChanges',
            'RealTimeCollaborativeRevisionHistory',
            'PresenceList',
            'Comments',
            'TrackChanges',
            'TrackChangesData',
            'RevisionHistory',
            'Pagination',
            'WProofreader',
            // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
            // from a local file system (file://) - load this site via HTTP server if you enable MathType
            'MathType'
        ]
    });
</script>
<script>
    //CKEDITOR.replace('help_ldesc');
    //CKEDITOR.replace('help_ldesc1');
  
    $.fn.modal.Constructor.prototype.enforceFocus = function () {
        var $modalElement = this.$element;
        $(document).on('focusin.modal', function (e) {
            var $parent = $(e.target.parentNode);
            if ($modalElement[0] !== e.target
                && !$modalElement.has(e.target).length
                && $(e.target).parentsUntil('*[role="dialog"]').length === 0) {
                $modalElement.focus();
            }
        });
    };
</script>
<script>
    $('#MaDongSanPham').append('<option hidden value="">----Chọn dòng sản phẩm----</option>');
    $("#MaNhanHieu").change(function () {
        var id = $(this).val();
        $('#MaDongSanPham').empty();
        $('#MaDongSanPham').append('<option hidden value="">----Chọn dòng sản phẩm----</option>');
        $.ajax({
            url: '/admin/shoe/GetCollections?id=' + id,
            success: function (result) {
                $.each(result, function (i, data) {
                    $('#MaDongSanPham').append('<option value=' + data['maDongSanPham'] + '>' + data['tenDongSanPham'] + '</option>');
                });

            }
        });
    });
</script>