
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="column">
    <div class="products one">
        <div class="flexwrap">
            <div class="row">
                <div class="item">
                    <div class="price">
                        <span class="discount">32%<br />OFF</span>
                    </div>
                    <div class="big-image">
                        <div class="big-image-wrapper">
                            <div class="image-show">
                                <a href="#"><img src="~/assets/images/adidas/265d8151-d200-4b72-b2df-52df79376641_product-2.jpg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="small-image">
                        <ul class="small-image-wrapper">
                            <li class="thumbnail-show">
                                <img src="~/assets/images/adidas/265d8151-d200-4b72-b2df-52df79376641_product-2.jpg" alt=""/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item">

                </div>
            </div>
        </div>
    </div>
</div>
