<section class="header-style-1">
    <div class="header-big">
        <div class="header-items-active">
            <div class="single-header-item bg_cover" style="background-image: url(assets/images/header-1/header-big-1.jpg);">
            </div>
            <div class="single-header-item bg_cover" style="background-image: url(assets/images/header-1/header-big-2.jpg);">
            </div>
            <div class="single-header-item bg_cover" style="background-image: url(assets/images/header-1/header-big-3.jpg);">
            </div>
        </div>
    </div>
    <div class="header-min">
        <div class="header-min-item product-style-25 bg_cover"
             style="background-image: url(assets/images/header-1/header-min-1.jpg);">
        </div>
        <div class="header-min-item product-style-25 bg_cover"
             style="background-image: url(assets/images/header-1/header-min-2.jpg);">
        </div>
    </div>
</section>
<section class="clients-logo-section pt-20 pb-20">
    <div class="container">
        <div class="row client-logo-active">
            <div class="col-lg-3">
                <div class="single-logo-wrapper">
                    <img src="assets/images/client-logo/vans.jpg" style="width: 75%;" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-logo-wrapper">
                    <img src="assets/images/client-logo/converse.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-logo-wrapper">
                    <img src="assets/images/client-logo/adidas.jpg" style="width: 75%" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-logo-wrapper">
                    <img src="assets/images/client-logo/nike.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Product 4 Vans Style 7 Part Start ======-->
<section class="product-wrapper pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <img src="assets/images/client-logo/vans1.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item" style="position: relative;">
                                <img src="assets/images/product-4/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-4/product-2.jpg" alt="product">
                            </div>
                            <div class="product-item" style="position: relative;">
                                <img src="assets/images/product-4/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item active">
                                <img src="assets/images/product-1/product-1.jpg" alt="product">
                            </div>
                        </div>
                    </div>


                </div>
                <div style="position: relative; text-align: center;">
                    <h4 style="
                        margin-top: 20px;
                        font-size: 14px;
                        color: #222 !important;
                        font-weight: normal;">
                        Converse Chuck Typlor Allstart 70 plus
                    </h4>
                    <div style="font-size: 12px;">
                        # VN12K23
                    </div>
                    <div>
                        <span style="    margin: 7px 0 0 0;
                            line-height: 1;
                            font-family: 'Montserrat',sans-serif;
                            font-size: 11px;
                            color: #222;
                            font-weight: normal;
                            display: inline-block;
                            text-align: left;">Price: </span>
                        <span style="line-height: 1;
                            font-family: 'Montserrat',sans-serif;
                            font-size: 17px;
                            color: #222;
                            font-weight: normal;
                            display: inline-block;
                            text-align: left;">2.123.123 đ</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item" style="position: relative;">
                                <img src="assets/images/product-4/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-4/product-2.jpg" alt="product">
                            </div>
                        </div>
                    </div>


                </div>
                <div style="position: relative; text-align: center;">
                    <h4 style="line-height: 20px;">Converse Chuck Typlor Allstart 70 plus</h4>
                    <div style="font-size: 12px;">
                        adsadsadas
                    </div>
                    <div>
                        <span>đasadasdssa</span>
                        <span>adasdasdas</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item" style="position: relative;">
                                <img src="assets/images/product-4/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-4/product-2.jpg" alt="product">
                            </div>
                        </div>
                    </div>


                </div>
                <div style="position: relative; text-align: center;">
                    <h4 style="line-height: 20px;">Converse Chuck Typlor Allstart 70 plus</h4>
                    <div style="font-size: 12px;">
                        adsadsadas
                    </div>
                    <div>
                        <span>đasadasdssa</span>
                        <span>adasdasdas</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item" style="position: relative;">
                                <img src="assets/images/product-4/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-4/product-2.jpg" alt="product">
                            </div>
                        </div>
                    </div>


                </div>
                <div style="position: relative; text-align: center;">
                    <h4 style="line-height: 20px;">Converse Chuck Typlor Allstart 70 plus</h4>
                    <div style="font-size: 12px;">
                        adsadsadas
                    </div>
                    <div>
                        <span>đasadasdssa</span>
                        <span>adasdasdas</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item" style="position: relative;">
                                <img src="assets/images/product-4/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-4/product-2.jpg" alt="product">
                            </div>
                        </div>
                    </div>


                </div>
                <div style="position: relative; text-align: center;">
                    <h4 style="line-height: 20px;">Converse Chuck Typlor Allstart 70 plus</h4>
                    <div style="font-size: 12px;">
                        adsadsadas
                    </div>
                    <div>
                        <span>đasadasdssa</span>
                        <span>adasdasdas</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="product-style-7 mt-20" style="width: 16,66667%; position: relative;">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item" style="position: relative;">
                                <img src="assets/images/product-4/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-4/product-2.jpg" alt="product">
                            </div>
                        </div>
                    </div>


                </div>
                <div style="position: relative; text-align: center;">
                    <h4 style="line-height: 20px;">Converse Chuck Typlor Allstart 70 plus</h4>
                    <div style="font-size: 12px;">
                        adsadsadas
                    </div>
                    <div>
                        <span>đasadasdssa</span>
                        <span>adasdasdas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Product 4 Vans Style 7 Part Ends ======-->
<!--====== Product 1 Converse Style 7 Part Start ======-->
<section class="product-wrapper pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <img src="assets/images/client-logo/converse1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-1/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-1/product-2.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Converse 1970s Archive Paint Splatter</a></h4>
                        <p>Reference Converse</p>
                        <span class="price">$ 100</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-1/product-3.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-1/product-4.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Converse 1970s Valentine's Day </a></h4>
                        <p>Reference Converse</p>
                        <span class="price">$ 110</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <span class="icon-text text-style-1">20% off</span>
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-1/product-5.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-1/product-6.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Converse Chuck Taylor All Star Logo Play</a></h4>
                        <p>Reference Converse</p>
                        <span class="price" style="text-decoration: line-through;">$ 120</span>
                        <span class="price">$ 96</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <span class="icon-text text-style-1">20% off</span>
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-1/product-7.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-1/product-8.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Chuck Taylor All Star Re-new</a></h4>
                        <p>Reference Converse</p>
                        <span class="price" style="text-decoration: line-through;">$ 90</span>
                        <span class="price">$ 72</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-1/product-9.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-1/product-10.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title" style="height: 100px;"><a href="product-details-page.html">Converse Chuck Double Upper Logo Play</a></h4>
                        <p>Reference Converse</p>
                        <span class="price">$ 60</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <span class="icon-text text-style-1">Hot item</span>
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-1/product-11.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-1/product-12.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title" style="height: 100px;"><a href="product-details-page.html">Converse Chuck Taylor All Star 1970s </a></h4>
                        <p>Reference Converse</p>
                        <span class="price">$ 102</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Product 1 Converse Style 7 Part Ends ======-->
<!--====== Product 2 Adidas Style 7 Part Start ======-->
<section class="product-wrapper pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    @*<img src="assets/images/client-logo/Adidas-Background.jpg" alt="">*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-2/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-2/product-2.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Forum Low Trae Young Shoes</a></h4>
                        <p>Reference Adidas</p>
                        <span class="price">$ 100</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-2/product-3.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-2/product-4.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">T-MAC 3 Restomod Shoes</a></h4>
                        <p>Reference Adidas</p>
                        <span class="price">$ 130</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <span class="icon-text text-style-1">20% off</span>
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-2/product-5.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-2/product-6.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Dame 7 Extply Shoes</a></h4>
                        <p>Reference Adidas</p>
                        <span class="price" style="text-decoration: line-through;">$ 130</span>
                        <span class="price">$ 104</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <span class="icon-text text-style-1">20% off</span>
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-2/product-7.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-2/product-8.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Trae Young 1 Shoes</a></h4>
                        <p>Reference Adidas</p>
                        <span class="price" style="text-decoration: line-through;">$ 140</span>
                        <span class="price">$ 112</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-2/product-9.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-2/product-10.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Exhibit A Shoes</a></h4>
                        <p>Reference Adidas</p>
                        <span class="price">$ 110</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <span class="icon-text text-style-1">Hot Item</span>
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-2/product-11.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-2/product-12.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Forum Mid Shoes</a></h4>
                        <p>Reference Adidas</p>
                        <span class="price">$ 110</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Product 2 Adidas Style 7 Part Ends ======-->
<!--====== Product 3 Nike Style 7 Part Start ======-->
<section class="product-wrapper pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <img src="assets/images/client-logo/vans1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-3/product-1.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-3/product-2.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Air Jordan 11 Cool Grey</a></h4>
                        <p>Reference Nike</p>
                        <span class="price">$ 290</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-3/product-3.png" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-3/product-4.png" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Air Jordan 3 Retro SE</a></h4>
                        <p>Reference Nike</p>
                        <span class="price">$ 259</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <span class="icon-text text-style-1">20% off</span>
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-4/product-5.jpg" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-4/product-6.jpg" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Jordan Delta 2</a></h4>
                        <p>Reference Nike</p>
                        <span class="price" style="text-decoration: line-through;">$ 190</span>
                        <span class="price">$ 152</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <span class="icon-text text-style-1">20% off</span>
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-3/product-7.png" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-3/product-8.png" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Air Jordan 1 Mid SE</a></h4>
                        <p>Reference Nike</p>
                        <span class="price" style="text-decoration: line-through;">$ 200</span>
                        <span class="price">$ 160</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-3/product-9.png" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-3/product-10.png" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Nike Air Max Dawn</a></h4>
                        <p>Reference Nike</p>
                        <span class="price">$ 157</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-style-7 mt-30">
                    <div class="product-image">
                        <span class="icon-text text-style-1">Hot item</span>
                        <div class="product-active">
                            <div class="product-item active">
                                <img src="assets/images/product-3/product-11.png" alt="product">
                            </div>
                            <div class="product-item">
                                <img src="assets/images/product-3/product-12.png" alt="product">
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="product-meta">
                            <li>
                                <a class="add-wishlist" href="javascript:void(0)">
                                    <i class="mdi mdi-heart-outline"></i>
                                    Add to Favorite
                                </a>
                            </li>
                            <li>
                                <span><i class="mdi mdi-star"></i> 4.5/5</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="product-details-page.html">Jordan ADG 3</a></h4>
                        <p>Reference Nike</p>
                        <span class="price">$ 200</span>
                        <a href="javascript:void(0)" class="main-btn primary-btn">
                            <img src="assets/images/icon-svg/cart-4.svg" alt="">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
<!--====== Product Style 7 Part Ends ======-->
<!--====== Content Card Style 4 Part Start ======-->
<section class=" pt-70 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-content mt-15 text-center">
                    <div class="content-icon">
                        <i class="mdi mdi-truck-fast"></i>
                    </div>
                    <div class="content-content">
                        <h4 class="title"><a href="javascript:void(0)">Two-hour delivery</a></h4>
                        <p>Available in most metros on selected in-stock products</p>
                        <a href="javascript:void(0)" class="more">learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-content mt-15 text-center">
                    <div class="content-icon">
                        <i class="mdi mdi-message-text"></i>
                    </div>
                    <div class="content-content">
                        <h4 class="title">
                            <a href="jav
                                ascript:void(0)">Get help buying</a>
                        </h4>
                        <p>Have a question? Call a Specialist or chat online for help</p>
                        <a href="contact-page.html" class="more">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-content mt-15 text-center">
                    <div class="content-icon">
                        <i class="mdi mdi-ticket-percent"></i>
                    </div>
                    <div class="content-content">
                        <h4 class="title"><a href="javascript:void(0)">Find the card for you</a></h4>
                        <p>Get 3% Daily Cash with special financing offers from us</p>
                        <a href="javascript:void(0)" class="more">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>