@model QL_BanGiay.Models.ChangePasswordModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="ChangePassword" enctype="multipart/form-data" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <div class="single-form form-default form-border">
                    <label>Mật khẩu cũ</label>
                    <div class="input-group">
                        <input onmouseleave="check_null();" asp-for="Password" type="password" class="form-control" />
                    </div>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-form form-default form-border">
                    <label>Mật khẩu mới</label>
                    <div class="input-group">
                        <input onmouseleave="check_null();" onmouseout="check_pw();" type="password" asp-for="New_Password" class="form-control" />
                    </div>
                    <span id="new-pw-danger" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-form form-default form-border">
                    <label>Nhập lại mật khẩu mới</label>
                    <div class="input-group">
                        <input onmouseleave="check_null();" onmouseout="check_confirm();" type="password" asp-for="Confirm_Password" class="form-control" />
                    </div>
                    <span id="confirm-pw-danger" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 offset-md-5 mt-4">
                    <input id="submit" style="background-color: blue;" type="submit" value="Lưu" class="btn btn-primary btn-block px-7" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var password = document.getElementById('Password');
    var new_password = document.getElementById('New_Password');
    var confirm_password = document.getElementById('Confirm_Password');
    var submit = document.getElementById('submit');
    if (password.value == ""){
        submit.setAttribute('disabled', '');
    }
    function check_null(){
        if (password.value == ""){
            submit.setAttribute('disabled', '');
        } else if (new_password.value == ""){
            submit.setAttribute('disabled', '');
        }else if (confirm_password.value == ""){
            submit.setAttribute('disabled', '');
        }else {
            submit.removeAttribute('disabled');
        }
    }
    
    function check_pw() {
        var paswd = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[ -/:-@@\[-`{-~]).{6,64}$/;
        if (!new_password.value.match(paswd)) {
            document.getElementById('new-pw-danger').innerHTML = "Vui lòng nhập ít nhất 6 kí tự, 1 kí tự viết hoa, 1 kí tự viết thường, 1 kí tự đặc biệt và 1 số";
        } else {
            document.getElementById('new-pw-danger').innerHTML = "";
        }
    }
    function check_confirm(){
        if (new_password.value != confirm_password.value){
            document.getElementById('confirm-pw-danger').innerHTML = "Mặt khẩu nhập lại không chính xác";
            submit.setAttribute('disabled', '');
        }else 
            document.getElementById('confirm-pw-danger').innerHTML = "";
    }
</script>
